@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan/LeagueSpartan-Bold.eot');
    src: url('../fonts/LeagueSpartan/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LeagueSpartan/LeagueSpartan-Bold.woff2') format('woff2'),
        url('../fonts/LeagueSpartan/LeagueSpartan-Bold.woff') format('woff'),
        url('../fonts/LeagueSpartan/LeagueSpartan-Bold.ttf') format('truetype'),
        url('../fonts/LeagueSpartan/LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Balbeer';
    src: url('../fonts/Balbeer/Balbeer-Regular.eot');
    src: url('../fonts/Balbeer/Balbeer-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Balbeer/Balbeer-Regular.woff2') format('woff2'),
        url('../fonts/Balbeer/Balbeer-Regular.woff') format('woff'),
        url('../fonts/Balbeer/Balbeer-Regular.ttf') format('truetype'),
        url('../fonts/Balbeer/Balbeer-Regular.svg#Balbeer-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad/MyriadPro-Regular.eot');
    src: url('../fonts/Myriad/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Myriad/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/Myriad/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/Myriad/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/Myriad/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icons';
  src:  url('../fonts/Icons/icons.eot?7fcm8p');
  src:  url('../fonts/Icons/icons.eot?7fcm8p#iefix') format('embedded-opentype'),
    url('../fonts/Icons/icons.ttf?7fcm8p') format('truetype'),
    url('../fonts/Icons/icons.woff?7fcm8p') format('woff'),
    url('../fonts/Icons/icons.svg?7fcm8p#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e905";
}
.icon-cart:before {
  content: "\e904";
}
.icon-in:before {
  content: "\e900";
}
.icon-tw:before {
  content: "\e901";
}
.icon-quote:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}



